<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Slothy-AI Chat</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div class="overlay"></div>
<section id="prime-section">
    <div class="header">
        <img src="../static/Slothy-AI.png"
             class="logo">
    </div>
    <div class="container-fluid">
        <div class="col-md-12 description-div" id="chat-box">
            <div class="chat-wrapper">
                <div class="answer-box slothy-answer" style="margin-right: auto;">
                    <img src="../static/slothy-icon.png" width="72px" height="72px"
                         style="margin-top: -10px; margin-left: -6px;">
                    <p class="answer" style="background-color: #fff;" id="response"></p>
                </div>
            </div>
        </div>
        <form class="form" action="/response" method="post">
            <div class="form-div">
                <input type="text" id="prompt" name="prompt" class="input-group"
                       placeholder="Scrie cât mai în spaniola poți..."
                       required
                       pattern=".*\S+.*">
                <button type="button" id="myButton" class="btn btn-dark btn-lg btn-block form__button">
                    Trimite
                </button>
            </div>
        </form>
    </div>
</section>
</body>
<script type="module">
    import { Configuration, OpenAIApi } from "https://cdn.jsdelivr.net/npm/openai@3.2.1/dist/index.min.js";
    async function fetchResponse() {
        const prompt = document.getElementById("prompt").value;
        if (!prompt) {
            alert("Te rog adauga un comentariu");
            return
            }

        const configuration = new Configuration({
        apiKey: process.env.OPENAI_API_KEY,
        });

        const openai = new OpenAIApi(configuration);
        const completion = await openai.createCompletion({
            model: "text-davinci-003",
            prompt: prompt,
        });
        console.log(completion.data.choices[0].text);
        const responseText = completion.data.choices[0].text;
        document.getElementById("response").textContent = responseText;
    }
    document.getElementById("myButton").addEventListener("click", fetchResponse);
  </script>
</html>



